<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427597707369-l3tadafceqe0n1eo3oj53hg7st6fgdm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427597707369-l3tadafceqe0n1eo3oj53hg7st6fgdm4</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIuv0jkxAUaGUIzllPpfB4k6YQXrpvPU</string>
	<key>GCM_SENDER_ID</key>
	<string>427597707369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tritechfirm.reviewer</string>
	<key>PROJECT_ID</key>
	<string>reviewer-7cdae</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewer-7cdae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427597707369:ios:13c8f27b9d1d30c986caf8</string>
	<key>DATABASE_URL</key>
	<string>https://reviewer-7cdae.firebaseio.com</string>
</dict>
</plist>